:root {
    /* 
        FIRST WE'LL DEFINE OUR SWATCHES, i.e. THE COMPLEMENTARY
        COLORS THAT WE'LL USE TOGETHER IN MULTIPLE PLACES THAT
        TOGETHER WILL MAKE UP A GIVEN THEME
    */
    --swatch-foundation:    #EEEEDD; /* USED FOR BODY BACKGROUND */
    --swatch-primary:       #E6E6E6; /* DOMINANT COLOR, USED FOR MOST BACKGROUNDS */
    --swatch-complement:    #E1E4CB; /* USED IN FORGROUND OF PRIMARY FOR TEXT AND BORDERS */
    --swatch_contrast:      #111111; /* USED IN MOUSE-OVER SELECTION OF LARGE ELEMENTS */
    --swatch-accent:        #669966; /* USED IN MOUSE-OVER SELECTION OF TEXT AND BORDERS */    
    --my-font-family:          "Robaaaoto";
    --bounceEasing: cubic-bezier(0.51, 0.92, 0.24, 1.15);
  }
  
  body {
    background-color: #473850;
    font-family: 'Lexend Exa';
  }
  
  div.banner {
    background-image: linear-gradient(to bottom,         
    #FF5252, #7F5A95);
    color: white;
    font-size: 48pt;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  
  .home_new_wireframe_button {
    font-size: 32pt;
  }
  .home_new_wireframe_button:hover {
    box-shadow: 1px 2px;
  }
  
  .rounded {
    border-radius: 10px;
  }
  
  .padding_20 {
    padding-right: 20px;
    padding-left: 20px;
  }
  
  .padding_12 {
    padding-right: 12px;
    padding-left: 12px;
  }
  
  .margin_bottom_-10 {
    margin-bottom: -10px !important;
  }
  
  .wireframe_link:hover {
    background-color: #7F5A95;
    color: white !important; 
    cursor: pointer;
  }
  
  .text_20 {
    font-size: 20px !important;
  }
  
  .text_16 {
    font-size: 16px !important;
  }

  /* label focus color */
  .input-field input + label {
    color: #000 !important;
  }
  /* label underline focus color */
  .input-field input {
    border-bottom: 1px solid #000 !important;
    box-shadow: 0 1px 0 0 #000 !important;
  }

  .material-tooltip {
    transform: translateY(-30px) translateX(-160px) !important;
  }

  .disabled:hover {
    cursor: not-allowed;
  }

  .delete_wireframe {
    color: black !important;
    border-left: 2px solid lightgray;
    padding-left: 15px;
    margin-right: -15px;
    padding-right: 15px;
  }

  .delete_wireframe:hover {
    color: red !important;
  }